.firstSection{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;

    background-color: var(--white);
    margin: 0 auto 150px auto;
    /* background: url('../../images/illustration-working.svg'); */
}
.wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items:flex-start;


    margin-top: 50px;
    gap: 10px;
    
    width: 70%;

    max-width: 600px;
}
.slogan{
    font-size: 80px;
    line-height: 1.2;
    font-weight: 700;

    color: var(--darkest-violet);
}
.text{
    color: var(--gray);
    line-height: 1.7;
    font-size: 24px;
    margin-bottom: 10px;
}
.links{
    margin-top: 20px;
    padding: 15px 20px;
}
.imgWrapper{
    
}
.img{
    position: absolute;
    width:  40%;
    right: 0px;
}

@media (width <= 767px) {
    .firstSection{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        /* background: url('../../images/illustration-working.svg'); */
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    
        align-items:center;
    
        margin-top: 30px;
        gap: 10px;
        
        width: 100%;

        text-align: center;
    }
    .slogan{
        width: 100%;
        height: 100%;

        font-size: 42px;
        line-height: 1.2;
        font-weight: 700;

    
        color: var(--darkest-violet);
    }
    .text{
        color: var(--gray);
        line-height: 1.7;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .links{
        margin-top: 20px;
        padding: 15px 20px;
    }
    .img{
        display: flex;
        position:relative;
        width: 100%;
        height: 100%;
        left: 20px;
    }
}

