.container {
    margin: 0 200px;
    overflow: hidden;
    /* height: 100%; */
  }


  @media (width <= 767px){
    .container {
      max-width: 375px;
      padding: 0 15px;
      margin: 0 auto;
      
    }
    
  }
  
  /* @media (width >= 767.98px){
    .container {
      max-width: 720px;	
    }
  }
  
  @media (width >= 991.98px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (width >= 1199.98px){
    .container {
      max-width: 1140px;
    }
  }  */