*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: inherit;
    background-color: transparent;
}

:root{
 --cyan: hsl(180, 66%, 49%);
 --dark-violet:  hsl(257, 27%, 26%);
 --red: hsl(0, 87%, 67%);
 --gray: hsl(0, 0%, 75%);
 --grayish-violet:hsl(257, 7%, 63%);
 --darkest-blue: hsl(255, 11%, 22%);
 --darkest-violet:  hsl(260, 8%, 14%);
 --white: white;
 --almost-white:#f0f1f6;
}

html{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:-webkit-any-link ,a:focus, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

ul,li,ol{
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}

html,
body, #root{
    line-height: 1;
    background: linear-gradient(to bottom, white  41%, bisque 1%);
}

@media (width < 767px) {
  html,
  body, #root{
  background: linear-gradient(to bottom, white  24%, bisque 1%);
}
}
